.logos{
  background-color: #EBEFF9;
  &__container{
    position: relative;
  }
  &__item{
    background-color: #fff;
    height: 140px;
    @include flex-all-center
  }
  &__btn-prev{
    background-image: url('../img/prev-logos.svg');
    @include bg-cover;
    position: absolute;
    left: -70px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  &__btn-next{
    background-image: url('../img/next-logos.svg');
    @include bg-cover;
    position: absolute;
    right: -70px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
}
