.graph-modal__container {
  background: linear-gradient(#8bb6d6, #648ab7);
  width: 90%;
}

.graph-modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('../img/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 30px;

  &__column {
    max-width: 300px;
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
  }

  &__item {
    margin: 3px 0;
  }

  &__title {
    margin: 0;
    font-size: 22px;
    line-height: 160%;
    font-weight: 700;
    color: var(--light-color);
  }

  &__link {
    margin: 0;
    padding: 0;
    color: var(--light-color);
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
  }
}
