<section class="about section-offset">
  <div class="container">
    <h1 class="title">О нас</h1>
    <div class="about__content">
      <p class="about__text">ГБУЗ НО ССМПНН для населения Нижнего Новгорода
        круглосуточно оказывает скорую медицинскую помощь (в том числе
        выезд специализированных бригад: педиатрического,
        психиатрического, реанимационного профиля).
      </p>
      <p class="about__text">В соответствии с Приказом Министерства здравоохранения и социального развития
        РФ от 20
        июня 2013г. № 388н «Об утверждении порядка оказания скорой медицинской помощи»:</p>
      <ul class="about__list">
        <li class="about__list-item">Скорая, в том числе скорая специализированная, медицинская помощь
          оказывается при
          заболеваниях, несчастных
          случаях, травмах, отравлениях и других состояниях, требующих срочного медицинского вмешательства.
        </li>
        <li class="about__list-item">Скорая, в том числе скорая специализированная, медицинская помощь
          оказывается на
          основе стандартов
          медицинской помощи.</li>
        <li class="about__list-item">Скорая, в том числе скорая специализированная, медицинская помощь
          оказывается в
          следующих условиях:
          <ol>
            <li>Вне медицинской организации - по месту вызова бригады скорой, в том числе скорой
              специализированной,
              медицинской помощи, а также в транспортном средстве при медицинской эвакуации;</li>
            <li>Амбулаторно (в условиях, не предусматривающих круглосуточного медицинского наблюдения и
              лечения);
            </li>
            <li>Стационарно (в условиях, обеспечивающих круглосуточное медицинское наблюдение и лечение).
            </li>
          </ol>
        </li>
        <li class="about__list-item">Скорая, в том числе скорая специализированная, медицинская помощь
          оказывается в
          следующих формах:
          <ol>
            <li>Экстренной - при внезапных острых заболеваниях, состояниях, обострении хронических
              заболеваний,
              представляющих угрозу жизни пациента;</li>
            <li>Неотложной - при внезапных острых заболеваниях, состояниях, обострении хронических
              заболеваний без
              явных
              признаков угрозы жизни пациента.</li>
          </ol>
        </li>
      </ul>
    </div><!-- /. about__content -->
  </div><!-- /. container -->
</section>
