<section class="contacts section-offset">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa3face47ff1f1d60a75f24fd83277248cadaf28485eaa0d69579feac12099f32&source=constructor"
          frameborder="0" width="628" height="438"></iframe>
      </div>
      <div class="contacts__info">
        <div class="contacts__top">
          <h3 class="contacts__title">ГБУЗНО "Станция скорой медицинской помощи г. Нижнего новгорода"</h3>
          <div class="contacts__working">
            <p class="contacts__working-item"><span>Режим работы: </span>круглосуточно</p>
            <p class="contacts__working-item"><span>Адрес: </span>603105 г. Нижний Новгород, ул. Чачиной, 24</p>
          </div>
        </div>
        <div class="contacts__bottom">
          <p class="contacts__bottom-item">Приемная: <a class="contacts__bottom-link" href="tel:+78314286374">8 (831) 428-63-74</a></p>
          <p class="contacts__bottom-item">Факс: <a class="contacts__bottom-link" href="tel:+78314286374">8 (831) 428-63-74</a></p>
          <p class="contacts__bottom-item">Почта: <a class="contacts__bottom-link" href="mailto:email@yandex.ru">email@yandex.ru</a></p>
        </div>
      </div>
    </div>
  </div>

</section>
