<header class="header">
  <a href="#" class="header__top">
    <img loading="lazy" src="img/eye.svg" class="image" width="20" height="20" alt="icon-eye">
    <p class="header__top-text">Перейти на версию для слабовидящих</p>
  </a>
  <div class="container">
    <div class="header__bottom">
      <div class="header__content">
        <a href="index.html"><img loading="lazy" src="img/logo.png" class="image" width="95" height=""
            alt="Логотип Минздрава НН"></a>
        <h2 class="header__title">
          Государственное бюджетное учреждение здравоохранения Нижегородской области
          <p class="header__text">Станция скорой медицинской помощи г. Нижнего новгорода</p>
        </h2>
      </div>
      <div class="header__addres">
        <p>Адрес:
          <span>603105 г. Нижний Новгород, ул. Чачиной, 24</span>
        </p>
        <p>
          Приемная:
          <span><a class="header__addres-link" href="tel:+78314286374">+7 (831) 428-63-74</a></span>
        </p>
      </div>
      <a href="#" class="header__social">VK</a>
    </div>
  </div>
</header>


