<div class="info section-offset">
  <div class="info__image">
    <picture>
      <source srcset="img/info.avif" type="image/avif">
      <source srcset="img/info.webp" type="image/webp">
      <img loading="lazy" src="img/info.png" class="image" width="528" height="412" alt="изображение">
    </picture>
  </div>
  <div class="info__content">
    <h2 class="info__title">
      Пример очень длинного заголовка предполагаемой страницы
    </h2>
    <div class="info__text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Reprehenderit aspernatur architecto autem, quaerat
        vitae numquam ut, earum dolores sit eligendi a
        voluptatem nihil aliquid, quia debitis quasi velit porro
        exercitationem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Reprehenderit aspernatur architecto autem, quaerat
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Reprehenderit aspernatur architecto autem, quaerat
        vitae numquam ut, earum dolores sit eligendi a
        voluptatem nihil aliquid, quia debitis quasi velit porro
        exercitationem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Reprehenderit aspernatur architecto autem, quaerat
        vitae numquam ut, earum dolores sit eligendi a
        voluptatem nihil aliquid, quia debitis quasi velit porro
        exercitationem. vitae numquam ut, earum dolores sit eligendi a
        voluptatem nihil aliquid, quia debitis quasi velit porro
        exercitationem.vitae numquam ut, earum dolores sit eligendi a
        voluptatem nihil aliquid, quia debitis quasi velit porro
        exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Reprehenderit aspernatur architecto autem, quaerat
        vitae numquam ut, earum dolores sit eligendi a
        voluptatem nihil aliquid, quia debitis quasi velit porro
        exercitationem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Reprehenderit aspernatur architecto autem, quaerat
        vitae numquam ut, earum dolores sit eligendi a
        voluptatem nihil aliquid, quia debitis quasi velit porro
        exercitationem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit aspernatur architecto autem, quaerat
          vitae numquam ut, earum dolores sit eligendi a
          voluptatem nihil aliquid, quia debitis quasi velit porro
          exercitationem. vitae numquam ut, earum dolores sit eligendi a
          voluptatem nihil aliquid, quia debitis quasi velit porro
          exercitationem.vitae numquam ut, earum dolores sit eligendi a
          voluptatem nihil aliquid, quia debitis quasi velit porro
          exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit aspernatur architecto autem, quaerat
          vitae numquam ut, earum dolores sit eligendi a
          voluptatem nihil aliquid, quia debitis quasi velit porro
          exercitationem.</p>

      <ul>
        <li>Текст предполагаемого списка</li>
        <li>Текст предполагаемого списка</li>
        <li>Текст предполагаемого списка</li>
        <li>Текст предполагаемого списка</li>
      </ul>
    </div>
  </div>
</div>
