<div class="logos section-offset">
  <div class="container-min">
    <!-- Доп. контейнер -->
    <div class="logos__container">
      <!-- Главный контейнер слайдера -->
      <div class="swiper logos__slider">
        <!-- Слайды -->
        <div class="swiper-wrapper logos__slider-wpapper">
          <div class="swiper-slide logos__slider-slick">
            <div class="logos__item">
              <picture>
                <source srcset="img/logos.avif" type="image/avif">
                <source srcset="img/logos.webp" type="image/webp">
                <img loading="lazy" src="img/logos.png" class="image" width="200" alt="Сотрудничество">
              </picture>
            </div>
          </div>
          <div class="swiper-slide logos__slider-slick">
            <div class="logos__item">
              <picture>
                <source srcset="img/logos.avif" type="image/avif">
                <source srcset="img/logos.webp" type="image/webp">
                <img loading="lazy" src="img/logos.png" class="image" width="200" alt="Сотрудничество">
              </picture>
            </div>
          </div>
          <div class="swiper-slide logos__slider-slick">
            <div class="logos__item">
              <picture>
                <source srcset="img/logos.avif" type="image/avif">
                <source srcset="img/logos.webp" type="image/webp">
                <img loading="lazy" src="img/logos.png" class="image" width="200" alt="Сотрудничество">
              </picture>
            </div>
          </div>
          <div class="swiper-slide logos__slider-slick">
            <div class="logos__item">
              <picture>
                <source srcset="img/logos.avif" type="image/avif">
                <source srcset="img/logos.webp" type="image/webp">
                <img loading="lazy" src="img/logos.png" class="image" width="200" alt="Сотрудничество">
              </picture>
            </div>
          </div>
          <div class="swiper-slide logos__slider-slick">
            <div class="logos__item">
              <picture>
                <source srcset="img/logos.avif" type="image/avif">
                <source srcset="img/logos.webp" type="image/webp">
                <img loading="lazy" src="img/logos.png" class="image" width="200" alt="Сотрудничество">
              </picture>
            </div>
          </div>
          <div class="swiper-slide logos__slider-slick">
            <div class="logos__item">
              <picture>
                <source srcset="img/logos.avif" type="image/avif">
                <source srcset="img/logos.webp" type="image/webp">
                <img loading="lazy" src="img/logos.png" class="image" width="200" alt="Сотрудничество">
              </picture>
            </div>
          </div>
          <div class="swiper-slide logos__slider-slick">
            <div class="logos__item">
              <picture>
                <source srcset="img/logos.avif" type="image/avif">
                <source srcset="img/logos.webp" type="image/webp">
                <img loading="lazy" src="img/logos.png" class="image" width="200" alt="Сотрудничество">
              </picture>
            </div>
          </div>
          <div class="swiper-slide logos__slider-slick">
            <div class="logos__item">
              <picture>
                <source srcset="img/logos.avif" type="image/avif">
                <source srcset="img/logos.webp" type="image/webp">
                <img loading="lazy" src="img/logos.png" class="image" width="200" alt="Сотрудничество">
              </picture>
            </div>
          </div>
          <div class="swiper-slide logos__slider-slick">
            <div class="logos__item">
              <picture>
                <source srcset="img/logos.avif" type="image/avif">
                <source srcset="img/logos.webp" type="image/webp">
                <img loading="lazy" src="img/logos.png" class="image" width="200" alt="Сотрудничество">
              </picture>
            </div>
          </div>
        </div><!-- /.Слайды -->
      </div><!-- /.Главный контейнер слайдера -->
      <div class="logos__btn-prev"></div>
      <div class="logos__btn-next"></div>
    </div><!-- /.Доп. контейнер -->
  </div>
</div>
