<section class="message">
  <div class="container">
    <div class="message__inner">
      <div class="message__img">
        <picture>
          <source srcset="img/message.avif" type="image/avif">
          <source srcset="img/message.webp" type="image/webp">
          <img loading="lazy" src="img/message1.png" class="image" width="160" height="160" alt="Обращение граждан">
        </picture>
      </div>
      <div class="message__contants">
        <h2 class="message__title">Напишите письмо руководству</h2>
        <p class="message__subtitle">Вы можете задать все интересующие Вас вопросы, поделиться предложениями
          по улучшению качества работы
        </p>
        <div class="message__btn-box">
          <a href="feedback.html" class="btn-reset btn message__btn">Напиать письмо</a>
        </div>
      </div>
    </div>
  </div>
</section>
