<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="site-map">
    <div class="graph-modal__content">
      <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
      <div class="menu">
        <div class="menu__column">
          <div class="menu__box">
            <h3 class="menu__title">Заголовок меню</h3>
            <div class="menu__items">
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
            </div>
          </div>
          <div class="menu__box">
            <h3 class="menu__title">Заголовок меню</h3>
            <div class="menu__items">
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
            </div>
          </div>
          <div class="menu__box">
            <h3 class="menu__title">Заголовок меню</h3>
            <div class="menu__items">
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
            </div>
          </div>
        </div>
        <div class="menu__column">
          <div class="menu__box">
            <h3 class="menu__title">Заголовок меню</h3>
            <div class="menu__items">
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
            </div>
          </div>
          <div class="menu__box">
            <h3 class="menu__title">Заголовок меню</h3>
            <div class="menu__items">
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
            </div>
          </div>
          <div class="menu__box">
            <h3 class="menu__title">Заголовок меню</h3>
            <div class="menu__items">
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
            </div>
          </div>
        </div>
        <div class="menu__column">
          <div class="menu__box">
            <h3 class="menu__title">Заголовок меню</h3>
            <div class="menu__items">
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
            </div>
          </div>
          <div class="menu__box">
            <h3 class="menu__title">Заголовок меню</h3>
            <div class="menu__items">
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
            </div>
          </div>
          <div class="menu__box">
            <h3 class="menu__title">Заголовок меню</h3>
            <div class="menu__items">
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
              <p class="menu__item"><a class="menu__link" href="#">Элемент меню</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
