<nav class="nav" title="Навигация">
  <div class="container">
    <div class="nav__inner">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
        <li class="nav__item"><a href="#" class="nav__link dopmenu">Элемент</a>
          <ul class="nav__sublist list-reset">
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
          </ul>
        </li>
        <li class="nav__item"><a href="#" class="nav__link dopmenu">Элемент</a>
          <ul class="nav__sublist list-reset">
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
          </ul>
        </li>
        <li class="nav__item"><a href="#" class="nav__link dopmenu">Элемент</a>
          <ul class="nav__sublist list-reset">
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
          </ul>
        </li>
        <li class="nav__item"><a href="#" class="nav__link dopmenu">Элемент</a>
          <ul class="nav__sublist list-reset">
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
          </ul>
        </li>
        <li class="nav__item"><a href="#" class="nav__link dopmenu">Элемент</a>
          <ul class="nav__sublist list-reset">
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
          </ul>
        </li>
        <li class="nav__item"><a href="#" class="nav__link dopmenu">Элемент</a>
          <ul class="nav__sublist list-reset">
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
          </ul>
        </li>
        <li class="nav__item"><a href="#" class="nav__link dopmenu">Элемент</a>
          <ul class="nav__sublist list-reset">
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
            <li class="nav__subitem"><a class="nav__sublink" href="">Элемент</a></li>
          </ul>
        </li>

      </ul>
      <div class="nav__buttons">
        <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-graph-path="site-map" data-burger>
          <span class="burger__line"></span>
        </button>
        <div class="search"></div>
      </div>
    </div>
  </div>
</nav>

