<div class="person">
  <div class="title-regular person__title">Голубев Игорь Владимирович</div>

  <div class="person__inner">
    <div class="person__preview">
      <div class="person__image">
        <picture>
          <source srcset="img/head-doctor.avif" type="image/avif">
          <source srcset="img/head-doctor.webp" type="image/webp">
          <img loading="lazy" src="img/head-doctor.jpg" class="image" width="" height="" alt="фото персонала">
        </picture>
      </div>
      <h3 class="person__preview-title">Голубев Игорь Владимирович</h3>
      <div class="person__preview-positin">Главный врач</div>
    </div>
    <div class="person__info">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ea tempora aliquid, quam nisi iusto fuga velit minus
        quibusdam voluptas mollitia? Error temporibus quisquam
        accusamus quod nesciunt repellendus nisi nam quibusdam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ea tempora aliquid, quam nisi iusto fuga velit minus
        accusamus quod nesciunt repellendus nisi nam quibusdam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ea tempora aliquid, quam nisi iusto fuga velit minus
        quibusdam voluptas mollitia? Error temporibus quisquam
        accusamus quod nesciunt repellendus nisi nam quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ea tempora aliquid, quam nisi iusto fuga velit minus
        quibusdam voluptas mollitia? Error temporibus quisquam
        accusamus quod nesciunt repellendus nisi nam quibusdam.</p>
    </div>

  </div>
</div>
