<section class="substations section-offset">
  <div class="container">
    <h2 class="title title--light">Подстанции</h2>
    <!-- Доп. контейнер -->
    <div class="substations__container">
      <!-- Главный контейнер слайдера -->
      <div class="swiper substations__slider">
        <!-- Слайды -->
        <div class="swiper-wrapper substations__slider-wpapper">
          <div class="swiper-slide substations__slider-slick">
            <div class="substations__item">
              <picture>
                <source srcset="img/substation.avif" type="image/avif">
                <source srcset="img/substation.webp" type="image/webp">
                <img loading="lazy" src="img/substation.jpg" class="image" alt="Фото подстанции">
              </picture>
              <div class="substations__content">
                <a href="#" class="substations__title">Подстанция №</a>
                <p class="substations__text">Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Numquam, adipisci
                  asperiores! Tempora nam facere quis deleniti distinctio
                  necessitatibus iusto cumque nisi molestiae
                  ut repudiandae asperiores optio.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide substations__slider-slick">
            <div class="substations__item">
              <picture>
                <source srcset="img/substation.avif" type="image/avif">
                <source srcset="img/substation.webp" type="image/webp">
                <img loading="lazy" src="img/substation.jpg" class="image" alt="Фото подстанции">
              </picture>
              <div class="substations__content">
                <a href="#" class="substations__title">Подстанция №</a>
                <p class="substations__text">Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Numquam, adipisci
                  asperiores! Tempora nam facere quis deleniti distinctio
                  necessitatibus iusto cumque nisi molestiae
                  ut repudiandae asperiores optio.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide substations__slider-slick">
            <div class="substations__item">
              <picture>
                <source srcset="img/substation.avif" type="image/avif">
                <source srcset="img/substation.webp" type="image/webp">
                <img loading="lazy" src="img/substation.jpg" class="image" alt="Фото подстанции">
              </picture>
              <div class="substations__content">
                <a href="#" class="substations__title">Подстанция №</a>
                <p class="substations__text">Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Numquam, adipisci
                  asperiores! Tempora nam facere quis deleniti distinctio
                  necessitatibus iusto cumque nisi molestiae
                  ut repudiandae asperiores optio.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide substations__slider-slick">
            <div class="substations__item">
              <picture>
                <source srcset="img/substation.avif" type="image/avif">
                <source srcset="img/substation.webp" type="image/webp">
                <img loading="lazy" src="img/substation.jpg" class="image" alt="Фото подстанции">
              </picture>
              <div class="substations__content">
                <a href="#" class="substations__title">Подстанция №</a>
                <p class="substations__text">Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Numquam, adipisci
                  asperiores! Tempora nam facere quis deleniti distinctio
                  necessitatibus iusto cumque nisi molestiae
                  ut repudiandae asperiores optio.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide substations__slider-slick">
            <div class="substations__item">
              <picture>
                <source srcset="img/substation.avif" type="image/avif">
                <source srcset="img/substation.webp" type="image/webp">
                <img loading="lazy" src="img/substation.jpg" class="image" alt="Фото подстанции">
              </picture>
              <div class="substations__content">
                <a href="#" class="substations__title">Подстанция №</a>
                <p class="substations__text">Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Numquam, adipisci
                  asperiores! Tempora nam facere quis deleniti distinctio
                  necessitatibus iusto cumque nisi molestiae
                  ut repudiandae asperiores optio.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide substations__slider-slick">
            <div class="substations__item">
              <picture>
                <source srcset="img/substation.avif" type="image/avif">
                <source srcset="img/substation.webp" type="image/webp">
                <img loading="lazy" src="img/substation.jpg" class="image" alt="Фото подстанции">
              </picture>
              <div class="substations__content">
                <a href="#" class="substations__title">Подстанция №</a>
                <p class="substations__text">Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Numquam, adipisci
                  asperiores! Tempora nam facere quis deleniti distinctio
                  necessitatibus iusto cumque nisi molestiae
                  ut repudiandae asperiores optio.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide substations__slider-slick">
            <div class="substations__item">
              <picture>
                <source srcset="img/substation.avif" type="image/avif">
                <source srcset="img/substation.webp" type="image/webp">
                <img loading="lazy" src="img/substation.jpg" class="image" alt="Фото подстанции">
              </picture>
              <div class="substations__content">
                <a href="#" class="substations__title">Подстанция №</a>
                <p class="substations__text">Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Numquam, adipisci
                  asperiores! Tempora nam facere quis deleniti distinctio
                  necessitatibus iusto cumque nisi molestiae
                  ut repudiandae asperiores optio.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide substations__slider-slick">
            <div class="substations__item">
              <picture>
                <source srcset="img/substation.avif" type="image/avif">
                <source srcset="img/substation.webp" type="image/webp">
                <img loading="lazy" src="img/substation.jpg" class="image" alt="Фото подстанции">
              </picture>
              <div class="substations__content">
                <a href="#" class="substations__title">Подстанция №</a>
                <p class="substations__text">Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Numquam, adipisci
                  asperiores! Tempora nam facere quis deleniti distinctio
                  necessitatibus iusto cumque nisi molestiae
                  ut repudiandae asperiores optio.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide substations__slider-slick">
            <div class="substations__item">
              <picture>
                <source srcset="img/substation.avif" type="image/avif">
                <source srcset="img/substation.webp" type="image/webp">
                <img loading="lazy" src="img/substation.jpg" class="image" alt="Фото подстанции">
              </picture>
              <div class="substations__content">
                <a href="#" class="substations__title">Подстанция №</a>
                <p class="substations__text">Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Numquam, adipisci
                  asperiores! Tempora nam facere quis deleniti distinctio
                  necessitatibus iusto cumque nisi molestiae
                  ut repudiandae asperiores optio.</p>
              </div>
            </div>
          </div>
        </div><!-- /.Слайды -->
      </div><!-- /.Главный контейнер слайдера -->
      <div class="substations__btn-prev"></div>
      <div class="substations__btn-next"></div>
    </div><!-- /.Доп. контейнер -->
    <div class="news__btn-box">
      <!-- <button class="btn-reset btn substations__btn">Все подстанции</button> -->
    </div>
  </div>
</section>
