<section class="useful section-offset">
  <div class="container-fluid">
    <h2 class="title">Полезное</h2>
    <div class="useful__inner">
      <a class="useful__link" href="#">ПАМЯТКА ОКАЗАНИЯ СКОРОЙ МЕДИЦИНСКОЙ ПОМОЩИ НАСЕЛЕНИЮ</a>
      <a class="useful__link" href="#">КАК ВЫЗВАТЬ СКОРУЮ ПОМОЩЬ С МОБИЛЬНОГО</a>
      <a class="useful__link" href="#">ВИДЕОМАТЕРИАЛЫ</a>
      <a class="useful__link" href="#">СТАНДАРТЫ ОКАЗАНИЯ СКОРОЙ МЕДИЦИНСКОЙ ПОМОЩИ</a>
      <a class="useful__link" href="#">ПАМЯТКА ОКАЗАНИЯ СКОРОЙ МЕДИЦИНСКОЙ ПОМОЩИ НАСЕЛЕНИЮ</a>
    </div>

  </div>
</section>
